/* App.css */
.app-clima {
  max-width: 1200px;
  margin: 0 auto;
}

.contenido-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contenido-principal {
      grid-template-columns: 1fr;
  }
}